<!DOCTYPE html>

<html>

<head>
    <title>Fred and Fred</title>
</head>

<body>
    <h1>Sign-In</h1>
    <form method="POST" action="/accounts/login">
        <input name='username' id="id_username" class="form-control input-lg" placeholder='username' />
        <input name='password' id="id_password" class="form-control input-lg" placeholder='password' />
        <input type="submit" value="Submit">
        {% csrf_token %}
    </form>
    <!-- <h1>Register</h1>
        <form method="POST" action="/accounts/new">
            <input name = 'username'
                id = "id_username"
                class="form-control input-lg"
                placeholder='username'/>
            <input name = 'password'
                id = "id_password"
                class="form-control input-lg"
                placeholder='password'/>
            <input name = 'email'
                id = "id_email"
                class="form-control input-lg"
                placeholder='email address'/>
            <input type="submit" value="Submit">
        {% csrf_token %}
        </form> -->
    <h1>Change password</h1>
    <form method="POST" action="/password">
        <input name='username' id="id_username" class="form-control input-lg" placeholder='username' />
        <input type="submit" value="Change Password">
        {% csrf_token %}
    </form>
</body>

</html>