<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'nfl/nfl.css' %}">

<html>
    <head>
        <title>Fred and Fred</title>
    </head>
    <body>
        <div class="row">
            <div class="column">
                <select name="weekno" id="weekmenu" onchange="location=this.value;">
                    {% for i in range %}
                        {% if i == weekno %}
                            <option value="/{{ player.name }}/nfl/{{ i }}/" selected>Week {{ i }}</option>
                        {% else %}
                            <option value="/{{ player.name }}/nfl/{{ i }}/">Week {{ i }}</option>
                        {% endif %}        
                    {% endfor %}
                </select>

                <form method="POST" action="/{{ player.name }}/nfl/{{ weekno }}/picks">
                    {% csrf_token %}
                    <table>
                        {{ formset }}
                    </table>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="column">
                <table>
                    <tr>STANDINGS</tr>
                    <tr>
                        <td></td>
                        <td>Player</td>
                        <td>W</td>
                        <td>L</td>
                        <td>T</td>
                        <td>GB</td>
                    </tr>
                    {% for player in standings %}
                        <tr>
                            <td>{{ forloop.counter }}:</td>
                            <td> {{ player.name }}</td>
                            <td> {{ player.wins }}</td>
                            <td> {{ player.losses }}</td>
                            <td> {{ player.ties }}</td>
                            <td> {{ player.gb }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <table>
                    <tr></tr>
                    <tr>
                        {% for player in standings %}
                            <td>{{ player.name }}</td>
                        {% endfor %}
                    </tr>
                    {% for game in picks %}
                        <tr>
                            {% for player in standings %}
                                <td>{{ game|get_item:player.name }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class='column'>
                <h1>Change password</h1>
                <form method="POST" action="/{{ player.name }}/changepassword">
                    <input name = 'newpassword'
                        id = "id_newpassword"
                        class="form-control input-lg"
                        placeholder='new password'/>
                    <input type="submit" value="Submit">
                {% csrf_token %}
                </form>
                <h1>Logout</h1>
                <form method="POST" action="/accounts/logout">
                    <input type="submit" value="Logout">
                {% csrf_token %}
                </form>
            </div>
        </div>
    </body>
</html>