<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'nfl/nfl.css' %}">

<html>
    <head>
        <title>Fred and Fred</title>
    </head>
    <body>
        <div class="row">
            <div class="column">
                <select name="weekno" id="weekmenu" onchange="location=this.value;">
                    {% for i in range %}
                        {% if i == weekno %}
                            <option value="/{{ player.name }}/nfl/{{ i }}/" selected>Week {{ i }}</option>
                        {% else %}
                            <option value="/{{ player.name }}/nfl/{{ i }}/">Week {{ i }}</option>
                        {% endif %}        
                    {% endfor %}
                </select>
                <!-- <table>
                    <tr>
                        <td>DTRAIN</td>
                        {% for player in standings %}
                            <td>{{ player.name }}</td>
                        {% endfor %}
                    </tr>    
                    {% for game in weekgames %}
                        <tr>
                            {% for player in standings %}
                                <td>
                                    {{ picks.{{ forloop.counter }}.{{ forloop.counter }} }}
                                </td>
                            {% endford %}
                        </tr>
                    {% endfor %}
                </table> -->
                <form method="POST" action="/{{ player.name }}/nfl/{{ weekno }}/picks">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <table>
                        {% for form in formset %}
                        {{ form }}
                        {% endfor %}
                    </table>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="column">
                <table>
                    <tr>STANDINGS</tr>
                    <tr>
                        <td></td>
                        <td>Player</td>
                        <td>W</td>
                        <td>L</td>
                        <td>T</td>
                    </tr>
                    {% for player in standings %}
                        <tr>
                            <td>{{ forloop.counter }}:</td>
                            <td> {{ player.name }}</td>
                            <td> {{ player.wins }}</td>
                            <td> {{ player.losses }}</td>
                            <td> {{ player.ties }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>