<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Fred and Fred</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'nfl/css/main.css' %}" />
    <noscript>
        <link rel="stylesheet" type="text/css" href="{% static 'nfl/css/noscript.css' %}" /></noscript>
</head>

<body>
    <div id="main">
        <h1>FRED AND FRED</h1>
        <form method="POST" action="/{{ username }}/password/change">
            <input name='password' id="id_password" class="form-control input-lg" placeholder='password' />
            <input name='confirmpass' id="id_confirmpass" class="form-control input-lg"
                placeholder='confirm password' />
            <input type="submit" value="Submit">
            {% csrf_token %}
        </form>
    </div>
</body>